div.row:last-child {
	padding-top: 10px;
}

button.btn.btn-success {
	margin-left: 20px;
}

.addrenta {
	padding: 10px;
    display: flex;
    justify-content: space-between;
}

.select {
	width: 40% !important;
}