﻿<div class="panel panel-primary">
    <div class="panel-heading">
        Prestamos
    </div>
    <div class="panel-body"  >
        <table class='table' *ngIf="rentas.length > 0">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Titulo de pelicula</th>
                    <th>Fecha de la renta</th>
                    <th>Usuario Id</th>
                    <th>Usuario</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let renta of rentas; let i=index">
                    <td>{{ i }}</td>
                    <td>{{ renta.nomPelicula }}</td>
                    <td>{{ renta.rentaDate | date: 'short' }}</td>
                    <td>{{ renta.user_id }}</td>
                    <td><a [routerLink]="['/usuarios', renta.user_id]">{{ renta.userName}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
